body {
  font-family: 'Courier New', monospace;
}

.nav .logo a {
  font-family: 'Courier New', monospace;
}

code {
  font-family: 'Consolas', monospace;
}

pre code {
  font-family: 'Consolas', monospace;
}